<div class="weather-details">
  <div class="container">
    <div class="current-info">
      <div class="date-container">

        <div class="others" id="current-weather-items">
          <table>
            <tr>
              <td>Humidity</td>
              <th> %</th>
            </tr>
            <tr>
              <td>Presure</td>
              <th>0 mb</th>
            </tr>
            <tr>
              <td>Wind speed</td>
              <th> km/h</th>
            </tr>
            <tr>
              <td>Sunrise</td>
              <th> AM</th>
            </tr>
            <tr>
              <td>Sunset</td>
              <th> PM</th>
            </tr>
          </table>
        </div>
        <div class="others" id="current-weather-items">
          <table>
            <tr>
              <td>Humidity</td>
              <th> %</th>
            </tr>
            <tr>
              <td>Presure</td>
              <th>0 mb</th>
            </tr>
            <tr>
              <td>Wind speed</td>
              <th> km/h</th>
            </tr>
            <tr>
              <td>Sunrise</td>
              <th> AM</th>
            </tr>
            <tr>
              <td>Sunset</td>
              <th> PM</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="place-container">
        <div class="time-zone" id="time-zone">Bugojno</div>
        <div id="country" class="country">BA</div>
        Latitude :
        <div class="time-zone" id="time-zone">{{cordinatesLng}}</div>
        Longitude:
        <div class="time-zone" id="time-zone">{{cordinatesLat}}</div>
      </div>
    </div>
  </div>
</div>