<div class="row m-0">
  <div class="container p-0">
    <div class="wrapper">
      <div class="title">
        <h2>Welcome to weather application</h2>
        <h3>Find your city and check the temperature. Explore now.</h3>

        <div class="input">
          <form [formGroup]="searchForm" (ngSubmit)="search">
            <input [(ngModel)]="inputValue" class="search" placeholder="Search for a city" formControlName="searchBox" />
            <div>
              <span class="text-danger" *ngIf="getControl.searchBox.touched && getControl.searchBox.errors?.required">
                City name is required
              </span>
            </div>
            <div>
              <button class="btn btn-primary search-btn" (click)="search()">Search</button>
            </div>
          </form>
        </div>

        <div class="time" id="time">
          <p class="weather-time">{{dateTime | date:'shortTime'}}</p>
          <p class="weather-time">{{dateTime | date:'mediumDate'}}</p>
        </div>

      </div>
    </div>
  </div>
</div>