  .wrapper {
    color: white;
    min-height: calc(100vh - 64px);
    text-align: center;
    padding-top: 7%;
    background-color: gray;
    // background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
  font-size: 70px;
  font-family: sans-serif;
  }

  h3 {
    font-weight: lighter;
  }